<section class="jumbotron py-2 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      <img
        class="mb-4"
        src="../../assets/images/logo-yellow.svg"
        alt=""
        width="100"
        height="100"
      />
    </h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don’t
      simply skip over it entirely.
    </p>
    <p>
      <a href="#" class="btn btn-warning my-2">Main call to action</a>
    </p>
  </div>
</section>
