<nav class="navbar-primary" [ngClass]="navCollapsed ? 'collapsed' : 'expanded'">
  <a href="#" class="btn-expand-collapse" (click)="toggleMenu($event)">
    <span
      class="glyphicon"
      [ngClass]="navCollapsed ? 'glyphicon-menu-right' : 'glyphicon-menu-left'"
    ></span>
  </a>
  <ul class="navbar-primary-menu">
    <li>
      <a href="#">
        <span class="fas fa-bullseye"></span>
        <span class="nav-label">Main Menu</span>
      </a>
      <a href="#">
        <span class="fas fa-bullseye"></span>
        <span class="nav-label">Main Menu</span>
      </a>
      <a href="#">
        <span class="fas fa-bullseye"></span>
        <span class="nav-label">Main Menu</span>
      </a>
    </li>
  </ul>
</nav>
<div class="main-content">
  <h1>Heading</h1>
  <p>
    Magna incididunt non dolore aliquip nostrud non quis fugiat laborum enim id.
    Est ipsum do anim consequat laboris sit do dolore. Minim voluptate dolor
    proident et adipisicing proident ullamco commodo quis ullamco ex do ullamco
    laborum. Cupidatat aute commodo aliquip ea consectetur fugiat culpa eu.
    Mollit nulla anim incididunt voluptate voluptate. Labore ullamco quis
    consectetur voluptate magna laboris anim nulla sunt deserunt. Consectetur
    sint sint mollit velit cupidatat tempor duis. Dolor veniam amet ex ut Lorem
    labore adipisicing deserunt ipsum tempor ipsum aliquip. In fugiat commodo ex
    adipisicing ipsum esse incididunt veniam et incididunt. Incididunt voluptate
    eu aute officia ut ullamco ad eu consequat Lorem reprehenderit anim aute ut.
    Eiusmod qui consectetur aliqua quis irure Lorem magna. Aliqua elit enim
    velit amet id ex consequat ea quis irure cupidatat incididunt. Laboris
    ullamco sint cupidatat eu. Dolore officia ad veniam magna voluptate. In id
    culpa consequat sit. Ad consectetur ut quis do velit elit voluptate. Sint ut
    nostrud laboris labore esse commodo dolore dolore nostrud et aliquip ad
    exercitation pariatur. Dolor consectetur excepteur incididunt ex ullamco
    proident magna. Tempor reprehenderit qui cupidatat dolor eu consectetur
    fugiat aliqua eiusmod ut. Ad proident tempor anim eiusmod consequat sint
    labore non exercitation ea dolore quis voluptate laboris. Sunt cupidatat
    labore in consequat cupidatat exercitation enim reprehenderit consequat
    veniam deserunt eu velit. Qui anim sunt sint officia aute deserunt. Ex
    aliqua proident laboris aliquip voluptate tempor aliquip mollit ex velit.
    Fugiat nisi quis duis Lorem cupidatat est.
  </p>
  <p>
    Magna incididunt non dolore aliquip nostrud non quis fugiat laborum enim id.
    Est ipsum do anim consequat laboris sit do dolore. Minim voluptate dolor
    proident et adipisicing proident ullamco commodo quis ullamco ex do ullamco
    laborum. Cupidatat aute commodo aliquip ea consectetur fugiat culpa eu.
    Mollit nulla anim incididunt voluptate voluptate. Labore ullamco quis
    consectetur voluptate magna laboris anim nulla sunt deserunt. Consectetur
    sint sint mollit velit cupidatat tempor duis. Dolor veniam amet ex ut Lorem
    labore adipisicing deserunt ipsum tempor ipsum aliquip. In fugiat commodo ex
    adipisicing ipsum esse incididunt veniam et incididunt. Incididunt voluptate
    eu aute officia ut ullamco ad eu consequat Lorem reprehenderit anim aute ut.
    Eiusmod qui consectetur aliqua quis irure Lorem magna. Aliqua elit enim
    velit amet id ex consequat ea quis irure cupidatat incididunt. Laboris
    ullamco sint cupidatat eu. Dolore officia ad veniam magna voluptate. In id
    culpa consequat sit. Ad consectetur ut quis do velit elit voluptate. Sint ut
    nostrud laboris labore esse commodo dolore dolore nostrud et aliquip ad
    exercitation pariatur. Dolor consectetur excepteur incididunt ex ullamco
    proident magna. Tempor reprehenderit qui cupidatat dolor eu consectetur
    fugiat aliqua eiusmod ut. Ad proident tempor anim eiusmod consequat sint
    labore non exercitation ea dolore quis voluptate laboris. Sunt cupidatat
    labore in consequat cupidatat exercitation enim reprehenderit consequat
    veniam deserunt eu velit. Qui anim sunt sint officia aute deserunt. Ex
    aliqua proident laboris aliquip voluptate tempor aliquip mollit ex velit.
    Fugiat nisi quis duis Lorem cupidatat est.
  </p>
  <p>
    Magna incididunt non dolore aliquip nostrud non quis fugiat laborum enim id.
    Est ipsum do anim consequat laboris sit do dolore. Minim voluptate dolor
    proident et adipisicing proident ullamco commodo quis ullamco ex do ullamco
    laborum. Cupidatat aute commodo aliquip ea consectetur fugiat culpa eu.
    Mollit nulla anim incididunt voluptate voluptate. Labore ullamco quis
    consectetur voluptate magna laboris anim nulla sunt deserunt. Consectetur
    sint sint mollit velit cupidatat tempor duis. Dolor veniam amet ex ut Lorem
    labore adipisicing deserunt ipsum tempor ipsum aliquip. In fugiat commodo ex
    adipisicing ipsum esse incididunt veniam et incididunt. Incididunt voluptate
    eu aute officia ut ullamco ad eu consequat Lorem reprehenderit anim aute ut.
    Eiusmod qui consectetur aliqua quis irure Lorem magna. Aliqua elit enim
    velit amet id ex consequat ea quis irure cupidatat incididunt. Laboris
    ullamco sint cupidatat eu. Dolore officia ad veniam magna voluptate. In id
    culpa consequat sit. Ad consectetur ut quis do velit elit voluptate. Sint ut
    nostrud laboris labore esse commodo dolore dolore nostrud et aliquip ad
    exercitation pariatur. Dolor consectetur excepteur incididunt ex ullamco
    proident magna. Tempor reprehenderit qui cupidatat dolor eu consectetur
    fugiat aliqua eiusmod ut. Ad proident tempor anim eiusmod consequat sint
    labore non exercitation ea dolore quis voluptate laboris. Sunt cupidatat
    labore in consequat cupidatat exercitation enim reprehenderit consequat
    veniam deserunt eu velit. Qui anim sunt sint officia aute deserunt. Ex
    aliqua proident laboris aliquip voluptate tempor aliquip mollit ex velit.
    Fugiat nisi quis duis Lorem cupidatat est.
  </p>
  <p>
    Magna incididunt non dolore aliquip nostrud non quis fugiat laborum enim id.
    Est ipsum do anim consequat laboris sit do dolore. Minim voluptate dolor
    proident et adipisicing proident ullamco commodo quis ullamco ex do ullamco
    laborum. Cupidatat aute commodo aliquip ea consectetur fugiat culpa eu.
    Mollit nulla anim incididunt voluptate voluptate. Labore ullamco quis
    consectetur voluptate magna laboris anim nulla sunt deserunt. Consectetur
    sint sint mollit velit cupidatat tempor duis. Dolor veniam amet ex ut Lorem
    labore adipisicing deserunt ipsum tempor ipsum aliquip. In fugiat commodo ex
    adipisicing ipsum esse incididunt veniam et incididunt. Incididunt voluptate
    eu aute officia ut ullamco ad eu consequat Lorem reprehenderit anim aute ut.
    Eiusmod qui consectetur aliqua quis irure Lorem magna. Aliqua elit enim
    velit amet id ex consequat ea quis irure cupidatat incididunt. Laboris
    ullamco sint cupidatat eu. Dolore officia ad veniam magna voluptate. In id
    culpa consequat sit. Ad consectetur ut quis do velit elit voluptate. Sint ut
    nostrud laboris labore esse commodo dolore dolore nostrud et aliquip ad
    exercitation pariatur. Dolor consectetur excepteur incididunt ex ullamco
    proident magna. Tempor reprehenderit qui cupidatat dolor eu consectetur
    fugiat aliqua eiusmod ut. Ad proident tempor anim eiusmod consequat sint
    labore non exercitation ea dolore quis voluptate laboris. Sunt cupidatat
    labore in consequat cupidatat exercitation enim reprehenderit consequat
    veniam deserunt eu velit. Qui anim sunt sint officia aute deserunt. Ex
    aliqua proident laboris aliquip voluptate tempor aliquip mollit ex velit.
    Fugiat nisi quis duis Lorem cupidatat est.
  </p>
</div>

<router-outlet></router-outlet>
