<div class="container">
  <div class="row">
    <div class="col-lg-4">

      <div class="card">
        <div class="card-body">

          <form (ngSubmit)="submit()" #holidaysForm="ngForm">

            <mat-form-field matTooltip="*click on icon" matTooltipPosition="below">
              <input matInput [matDatepicker]="dp3" placeholder="START DATE *" disabled [(ngModel)]="info.date" name="date" required>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="DAYS" [(ngModel)]="info.days" name="days" required>
              <button mat-button *ngIf="info.days" matSuffix mat-icon-button aria-label="Clear" (click)="info.days=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="COUNTRY CODE" [(ngModel)]="info.country" name="country" required>
                <mat-option *ngFor="let country of countries" [value]="country.value">
                  {{country.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="text-right">
              <button mat-stroked-button type="submit" type="submit" [disabled]="!holidaysForm.form.valid" class="mat-accent">View Results</button>
              <button mat-stroked-button type="submit" type="reset" (click)="reset()">Reset</button>
            </div>

          </form>

        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="text-center" *ngIf="loading">
        <mat-spinner [diameter]="20"></mat-spinner>
        LOADING CALENDAR...
      </div>
      <div class="text-center" *ngIf="loaded">
        <app-calendar [info]="info"></app-calendar>
      </div>
    </div>
  </div>
</div>